/* Required for full background image */
html,
body,
header,
.view {
height: 100% !important;
scroll-behavior: smooth;
}
body{
  position: relative;
}

@media (max-width: 740px) {
html,
body,
header,
.view {
  height: 100vh;
}
}

.top-nav-collapse {
background-color: rgba(21, 87, 153, 1) !important;
}

.navbar:not(.top-nav-collapse) {
background: transparent !important;
}

@media (max-width: 991px) {
.navbar:not(.top-nav-collapse) {
  background: rgba(21, 87, 153, 1) !important;
}
.navbar{
  position: relative !important;
}
h1,h2,h3{
  font-size: 2rem !important;
}

h4,h5{
  font-size: 1.3rem !important;
}
}

h1,h2,h3{
  font-family: 'Charm', cursive;
}

.card {
  margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.blue-text {
  color:rgba(21, 87, 153, 1) !important;
}
.rgba-gradient {
  background: rgba(21, 153, 87, 0.6);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(21, 87, 153, 0.8), rgba(21, 153, 87, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(21, 87, 153, 0.8), rgba(21, 153, 87, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
 * Footer
 */
.blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
